.file-button-clone{
    position: fixed;
    display: inline-block;
    left: -1px;
    top: -1px;
    height: 0px;
    width: 0px;
    
    padding: 0px;
    margin: 0px ;
    border: none;
    outline: none;
    background-color: transparent;
    content: '';
    overflow: hidden;
    z-index: 9999;
    white-space: nowrap;
    border-radius: 5px;
    cursor: grab;
}