@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&display=swap');
*{
    padding: 0;
    margin: 0;
}


#split-editor{
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: row;
}

#editor-area{
    width: 50%;
    height: 100%;

    border: 1px solid black;
    overflow: hidden;
}

.cm-editor { /* This is the root element of the CodeMirror editor */
  flex: 1;
  height: 100vh !important;
  /* Other styles like min-height, max-height if needed */
    overflow: hidden !important;
}

#text-area{
    resize: none;
    width: 100%;
    /* height: 100%; */

    outline: none;
    border: none;
}

#preview-area{
    font-family: Sans-serif;
    width: 50%;
    height: 100vh;

    border: 1px solid black;
    border-left: none;

    overflow: scroll;
    overflow-wrap:anywhere;
}

#preview-area code{
    font-family: DM Mono;
}

#preview-area ul li{
    margin-left: 1.5rem;
}
#preview-area ol li{
    margin-left: 1.5rem;
}

#preview-area h1 , #preview-area h2 , #preview-area h3 , #preview-area h4 , #preview-area h5{
    padding: 1rem;
}

#preview-area p{
    margin-left: 1.5rem;
}