@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&display=swap');
*{
    font-family: DM Mono;
    padding: 0;
    margin: 0;
}

html{
    overflow: hidden;
}

#nav-bar{
    position: relative;
    height: 5vh;
    padding: 0 10px;
}

#nav-item-left{
    position: absolute;
    top: 50%;
    transform: translate(0 , -50%);
}
#nav-item-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
#nav-item-right{
    position: absolute;
    right:0;
    top: 50%;
    transform: translate(-10px , -50%);
}

#side-panel{
    background-color: white;
}

#side-panel button{
    outline: 0;
    border: 0;
    background-color: rgb(226, 226, 226);
    padding: 10px;

    cursor: pointer;
}


#split-editor{
    display: flex;
    width: 100%;
    height: 95vh;

    flex-direction: row;
}

#editor-area{
    width: 50%;
    height: 100%;

    border: 1px solid black;
    overflow: hidden;
}

.cm-editor {
  flex: 1;
  height: 95vh !important;
}
.Í¼1 .cm-cursor{
    transition: all 0.1s ease !important;
}

@keyframes custom-caret-animation {
  from {
    caret-color: transparent; /* Start with transparent caret */
  }
  to {
    caret-color: red; /* End with the desired caret color */
  }
}


#text-area{
    resize: none;
    width: 100%;
    /* height: 100%; */

    outline: none;
    border: none;
}

#preview-area{
    font-family: consolas;
    width: 50%;
    height: 100%;

    border: 1px solid black;
    border-left: none;

    overflow: scroll;
    overflow-wrap:anywhere;
}

#preview-area code{
    font-family: DM Mono;
}

#preview-area ul li{
    margin-left: 3rem;
}
#preview-area ol li{
    margin-left: 3rem;
}

#preview-area h1 , #preview-area h2 , #preview-area h3 , #preview-area h4 , #preview-area h5{
    padding: 1rem;
}

#preview-area p{
    margin-left: 1.5rem;
}


/*  Additional CSS */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th{
    padding: 5px;
}