@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&display=swap');
*{
    font-family: DM Mono;
}

html{
    overflow: hidden;
}

#nav-bar{
    position: relative;
    height: 5vh;
    padding: 0 10px;
}

#nav-item-left{
    position: absolute;
    top: 50%;
    transform: translate(0 , -50%);
}
#nav-item-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
#nav-item-right{
    position: absolute;
    right:0;
    top: 50%;
    transform: translate(-10px , -50%);
}

#nav-item-left{
    cursor: pointer;
}

#side-panel{
    background-color: white;
}

#side-panel button{
    outline: 0;
    border: 0;
    background-color: rgb(226, 226, 226);
    padding: 10px;

    cursor: pointer;
}


#split-editor{
    display: flex;
    width: 100%;
    height: 95vh;

    border-top: 1px solid black;
    flex-direction: row;
    justify-content: space-between;
    
    position: relative;
}

#mid-line-area{
    position: absolute;
    left: 50%;
    height: 100vh;
    width: 5px;
    cursor: e-resize;
    display: flex;
    justify-content: center;
}


#mid-line{
    height: 100%;
    width: 1px;
    background-color: black;
}

#editor-area{
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.cm-editor {
  flex: 1;
  height: 95vh !important;
}
.Í¼1 .cm-cursor{
    transition: all 0.1s ease !important;
}

@keyframes custom-caret-animation {
  from {
    caret-color: transparent; /* Start with transparent caret */
  }
  to {
    caret-color: red; /* End with the desired caret color */
  }
}


#text-area{
    resize: none;
    width: 100%;
    /* height: 100%; */

    outline: none;
    border: none;
}

#preview-area{
    font-family: consolas;
    width: 50%;
    height: 100%;
    border-left: none;

    white-space: no-wrap !important;
    overflow-x: scroll;
}

#preview-area h1{
    font-size: 2em;
}

#preview-area h2{
    font-size: 1.5em;
}

#preview-area h3{
    font-size: 1.17em;
}

#preview-area h4{
    font-size: 0.83em;
}

#preview-area h5{
    font-size: .75em;
}

#preview-area code{
    font-family: DM Mono;
}

#preview-area ul li{
    margin-left: 3rem;
}
#preview-area ol li{
    margin-left: 3rem;
}

#preview-area h1 , #preview-area h2 , #preview-area h3 , #preview-area h4 , #preview-area h5{
    padding: 1rem;
}

#preview-area p{
    margin-left: 1.5rem;
}


/*  Additional CSS */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table{
    margin: 0 auto;
}

td, th{
    padding: 5px;
}

*{
    font-family: JetBrains Mono Nerd Font, consolas;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.dir, .root{
    position: relative;
    transition: all 0.3s ease;
}

.root{
    overflow: auto;
    overflow-x: auto;
    height: 65vh;
}

.dir-name{
    padding: 2px;
    position: relative;
    width: auto;
}

.dir-name::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -2rem;
    width: 2rem;
    height: 1px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.horizontal-line{
    width: 1px;
    position: absolute;
    top: 1.4rem;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.hidden{
    display:none;
}